
.image-edit-canvas {
    position: relative;
}

.image-edit-canvas img {
    height: 100%;
    width: 100%;
}

.image-edit-canvas canvas {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}